.createpost_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createpost_container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;

  padding: 1em;
  min-width: 100%;
  min-height: 100%;
  flex: 1;
}

.createpost_container > form > fieldset {
  flex: 1;
  min-width: 100%;
  min-height: 100%;
}

.createpost_container > form > fieldset > textarea {
  min-width: 100%;
  min-height: 60%;
}

.createpost_container > form > fieldset > button {
  align-self: flex-end;
}
